---
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>david selassie</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/site.css" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
  {% include header.html %}

  <main>
    <nav class="block">
      <h1>games</h1>
      <ul>
        {% for post in site.categories.games %}
        {% include block.html %}
        {% endfor %}
      </ul>
    </nav>

    <nav class="block">
      <h1>code</h1>
      <ul>
        {% for post in site.categories.code %}
        {% include block.html %}
        {% endfor %}
      </ul>
    </nav>

    <nav class="block">
      <h1>vis</h1>
      <ul>
        {% for post in site.categories.vis %}
        {% include block.html %}
        {% endfor %}
      </ul>
    </nav>

    <nav class="block">
      <h1>other</h1>
      <ul>
        {% for post in site.categories.other %}
        {% include block.html %}
        {% endfor %}
      </ul>
    </nav>
  </main>

  {% include footer.html %}
</body>
</html>
